body{
  background-color: cornflowerblue;
}
.main{
  background-color: black;
  height: fit-content;
  width: fit-content;
  display: flex;
  align-self: auto;
  display: flex;
  justify-self: center;
}
.left{
  width: 250px;
  height: 250px;
  background-color: white;
}
