html,body{
  height: 100%;
  margin: 0px;
  padding: 0px;
}
body{
  background-color: cornflowerblue;
  display: flex;
  flex-direction: column;
  place-items: center;
  font: normal 14px Arial;
}
.cabecalho{
  background-color: whitesmoke;
  color: black;
  padding: 10px 0px;
  width: 100%;
  text-align: center;
  font: oblique 30px Arial Black;
}
.conteudo{
  padding: 20px;
}
.rodape{
  position: absolute;
  bottom: 0;
  font: italic 14px Arial Black;
  padding: 20px 0px;
  width: 100%;
  text-align: center;
}