body{
    margin: 0;
    background-color: darkgray;
    background-image: linear-gradient(to left,#344550,#9bd7db);
}
  main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.jogoDaVelha{
    height: 60vh;
    width: 60vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.jogoDaVelha div{
    display: inline-block;
    background-color: darkslateblue;
    width: 19vh;
    height: 19vh;
    cursor: pointer;
    text-align: center;
    font-size: 17vh;
    color: darkslateblue;
}

button {
    position: absolute;
    bottom: 0;
    background-color: #f1f1f1;
    color: black;
    font-size: 2vh;
    padding: 2vh 4vh;
    border: none;
    cursor: pointer;
    border-radius: 1vh;
    text-align: center;
}
  
button:hover {
    background-color: black;
    color: white;
}

.score{
    display: flex;
    justify-content: space-around;
    font-size: 4vh;
    background-image: linear-gradient(to left,#4d3450,#d49bdb);
}